div.col-md-4
	div.component_search
		select.width70.form-control#component_search_1
			each component, path in availableComponentList
				option(value = path)= component
		button.btn.btn-default.component_button#component_button_1 pick
	div.component_search
		select.width70.form-control#component_search_2
			each component, path in availableComponentList
				option(value = path)= component
		button.btn.btn-default.component_button#component_button_2 pick
	div.component_search 
		div.form-control.width70 Wire
		button.btn.btn-default.component_button#W0000 pick
div.col-md-4#component_info Info
div.col-md-4
	div#log Log
