//getlist of components
div.col-md-3
	div.component_search get drop down list here
	div.component_button#component_button_1 pick
	div.component_search get drop down list here
	div.component_button#component_button_2 pick
	div.component_search Wire
	div.component_button#W0000 pick
div.col-md-3#component_info Info
div.col-md-4 
	div#log Log
