extends layout

block content
	script(src="virtualPage/script/board.js" type="text/javascript")
	link(rel="stylesheet", href="virtualPage/style/board.css")
	div.container
		div.row
			div.col-md-1
			div.col-md-10#board
				include virtualPage/board 
		div.row#panel
			include virtualPage/panel
		div.row#selectedComponents
		